name: Github Stats

on:
  push:
    branches:
      - master
  schedule:
    - cron: "*/10 * * * *"
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - run: npx github-stats-box
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: c59f2e715f3b894a3c44bee22731234c
          ALL_COMMITS: true # If `true` it will count all commits, if `false` it will count your last year commits
          K_FORMAT: false # If `true`, large numbers will be formatted with a "k", for example "1.5k"